node_modules
dist
build
.tmp
.npm
.npmrc
package-lock.json
yarn.lock
.pnpm-store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

.env
.env.*
!environment.ts
!src/environments/environment.ts

.DS_Store
Thumbs.db
.idea
.vscode
*.swp
*.swo
*.bak
*.tmp

.git
.gitignore
.gitattributes
coverage
tests
test-results
karma.conf.js
jest.config.*
cypress
playwright-report

Dockerfile
.dockerignore
docker-compose.yml
